#Add arguments to default commands
alias ls="ls --color=auto"


##Aliases
alias als="nvim ~/.config/zsh/.aliases"


alias r=ranger
alias n=nvim
alias yain="yay -S"
alias yarem="yay -Rns"
alias s="source $ZDOTDIR/.zshrc"
alias c="calcurse"
##alias ls="ls -a --color"
# alias config='/usr/bin/git --git-dir=/home/hari/dotfiles/ --work-tree=/home/hari'

#open files in lf
alias conf="l  $HOME/.config/"
alias nc="l $HOME/.config/nvim"

#open files in nvim
alias nz="nvim $HOME/.config/zsh/.zshrc"
alias nn="nvim $HOME/.config/nvim/init.lua"

#remove pacman lock
alias lockrm="sudo rm /var/lib/pacman/db.lck"

